<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.3.14/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>

</head>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 15.7, lng: -92.4},
            zoom: 8
        });
    }
</script>

<link rel="stylesheet" href="styles.css">

<h1 class= "Title">Sympthomapp</h1>
<div class="EpidemBoard">
    <button class="EpidemBoard__AccountBlock">nombre_usuario [imagen]</button>

    <div class="EpidemBoard__Buttons">
        <button class="EpidemBoard__Buttons__Main"> Pantalla Principal </button>
        <button class="EpidemBoard__Buttons__Alerts"> Alertas [x] </button>
        <button class="EpidemBoard__Buttons__Inbox"> Bandeja de entrada [x]</button>
    </div>
    <div class="EpidemBoard__MainView">
        Bienvenido a su dashboard.
        <div class="EpidemBoard__MainViewBox">

            <div class="EpidemBoard__MainView__Map" id="map">
                Showing Map:
                <div id="map_canvas" ng-controller="DashboardController">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                        <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                                         geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>
                    </ui-gmap-google-map>
                </div>
            </div>

            <div class="EpidemBoard__MainView__SympthomList">

                <button class="EpidemBoard__MainView__SymtphomList__SummaryButton">Resumir Datos</button>

                <table class="EpidemBoard__MainView__SymtphomListbox">
                    <tr class="EpidemBoard_MainView__SymtphomListbox_Headers">
                        <th>Sintoma</th>
                        <th>Posicion Geografica</th>
                    </tr>
                    <tr>
                        <td>Diarrea</td>
                        <td>San Jose Pinula, Guatemala</td>
                    </tr>
                    <tr>

                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div class="EpidemBoard__AlertView" style= "display:none">
        Esto no se deberia mostrar!*
        <ul class="EpidemBoard__AlertView__List">Lista de alertas</ul>
        <button class="EpidemBoard_AlertView_CreateAlert">Crear alerta</button>
    </div>

    <div class="EpidemBoard__InboxView" style= "display:none">
        Esto no se deberia mostrar!*
        <ul class="EpidemBoard__InboxView__List">Lista de correos</ul>
        <button class="EpidemBoard__InboxView__Send">Enviar Correo</button>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhPyRa40wxABwjLJUkSqRza4aYY4PU1Jk&callback=initMap" async defer></script>