<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 15.7, lng: -92.4},
            zoom: 8
        });
    }
</script>

<link rel="stylesheet" href="styles.css">

<h1 class= "Title">Symptomapp</h1>

<div ng-show="isMedic">
  <div class="container">
    <div class="jumbotron text-left">
      <h2>Soy Medico</h2>
      <form action="/insertPatient" method="post">
          <div class="form-group">
              <label>Nombre Paciente</label>
              <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label>Dirección</label>
              <input type="text" class="form-control" name="dir">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Crear Paciente</button>
      </form>
    </div>
  </div>
</div>

<div ng-show="isAdmin">
  <div class="container">
    <div class="jumbotron text-left">
      <h2>Soy Admin</h2>
      <form action="/signup" method="post">
          <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>
          <div class="form-group">
              <label>Password*</label>
              <input type="password" class="form-control" name="password_0">
          </div>
          <div class="form-group">
              <label>Tipo de usuario</label>
              <select class="form-control" name="user_type">
                  <option value = 0 >Médico</option>
                  <option value = 1 >Epidemiologo</option>
                  <option value = 2 >Administrador</option>
              </select>
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Registrarse</button>
      </form>
    </div>
  </div>
</div>
<div ng-show="isEpidem" >
    <div class="EpidemBoard">
        <button class="EpidemBoard__AccountBlock">nombre_usuario [imagen]</button>

        <div class="EpidemBoard__Buttons">
            <button class="EpidemBoard__Buttons__Main"> Pantalla Principal </button>
            <button class="EpidemBoard__Buttons__Alerts"> Alertas [x] </button>
            <button class="EpidemBoard__Buttons__Inbox"> Bandeja de entrada [x]</button>
        </div>
        <div class="EpidemBoard__MainView">
            Bienvenido a su dashboard.
            <div class="EpidemBoard__MainViewBox">

                <div class="EpidemBoard__MainView__Map" id="map">
                    Showing Map:
                    <div id="map_canvas" ng-app="DashboardCtrl" ng-controller="DashboardController">
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
                            <ui-gmap-polygon static="true" ng-repeat="p in polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                                             geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>
                        </ui-gmap-google-map>
                    </div>
                </div>

                <div class="EpidemBoard__MainView__SympthomList">

                    <button class="EpidemBoard__MainView__SymtphomList__SummaryButton">Resumir Datos</button>

                    <table class="EpidemBoard__MainView__SymtphomListbox">
                        <tr class="EpidemBoard_MainView__SymtphomListbox_Headers">
                            <th>Sintoma</th>
                            <th>Posicion Geografica</th>
                        </tr>
                        <tr>
                            <td>Diarrea</td>
                            <td>San Jose Pinula, Guatemala</td>
                        </tr>
                        <tr>

                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="EpidemBoard__AlertView" style= "display:none">
            Esto no se deberia mostrar!*
            <ul class="EpidemBoard__AlertView__List">Lista de alertas</ul>
            <button class="EpidemBoard_AlertView_CreateAlert">Crear alerta</button>
        </div>

        <div class="EpidemBoard__InboxView" style= "display:none">
            Esto no se deberia mostrar!*
            <ul class="EpidemBoard__InboxView__List">Lista de correos</ul>
            <button class="EpidemBoard__InboxView__Send">Enviar Correo</button>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhPyRa40wxABwjLJUkSqRza4aYY4PU1Jk&callback=initMap" async defer></script>
<script src="/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
